/* common rules */
body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg_btn_dark: #363636;
    --bg_btn_orange: #CD3D0F;
    --bg_btn_blue: #2D64E6;
}

/* utility rules */
.bg_btn_dark {
    background-color: var(--bg_btn_dark);
    color: white;
}

.pb_150 {
    padding-bottom: 150px;
}

.mb_70 {
    margin-bottom: 70px;
}

.pt_230 {
    padding-top: 230px;
}

.pt_55 {
    padding-top: 55px;
}

/***************** 
HEADER 
******************/
.top_nav img {
    height: 14px;
}

.nav-item a {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}

.nav-item i {
    color: lightgray;
    font-size: 10px;
}

.nav-item img {
    height: 20px;
}

/***************** 
MAIN 
******************/
/* hero image */
.hero_image {
    background-image: url(./img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero_text {
    color: white;
}

.hero_text h1 {
    margin: 20px 0;
}

.hero_text img {
    width: 300px;
}

.hero_text a {
    margin: 20px 0 50px;
    color: white;
    background-color: var(--bg_btn_orange);
}

.hero_text p {
    width: 88%;
}

/* row hero image */
.g_0 {
    --bs-gutter-x: 0;
}

.row_hero_image img {
    width: 100%;
    border-radius: 20px;
    padding: 2px;
}

.p_col {
    padding: 30px 20px 0;
}

.border_img {
    border: 2px solid #0070D1;
}

/* playstation five */
.play_text h4 {
    text-transform: uppercase;
    color: #0070D1;
    font-size: 14px;
    font-weight: 600;
}

.playstation_five p {
    color: gray;
}

.console_playstation {
    padding: 0 15px;
}

.console_playstation a {
    background-color: var(--bg_btn_blue);
    color: white;
}

.console_playstation img {
    width: 100%;
}

.bor_b {
    border-bottom: 2px solid #0070D1;
}

.opacity {
    filter: opacity(0.7);
}

/* it takes two */
.it_takes_two {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}


/***************** 
FOOTER 
******************/


@media screen and (min-width: 768px) {
    .console_playstation .row .col-md-6:first-child {
        align-self: center;
    }
}