/* common rules */
body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg_btn_dark: #363636;
    --bg_btn_orange: #CD3D0F;
    --bg_btn_blue: #2D64E6;
    --bg_new_releases: #1F1F1F;
    --bg_btn_plus: #D9DADC;
    --bg_playstation_plus: #BEBCBB;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

/* utility rules */
.bg_btn_dark {
    background-color: var(--bg_btn_dark);
    color: white;
}

.pb_150 {
    padding-bottom: 150px;
}

.mb_70 {
    margin-bottom: 70px;
}

.pt_230 {
    padding-top: 230px;
}

.pt_55 {
    padding-top: 55px;
}

/***************** 
HEADER 
******************/
.top_nav img {
    height: 14px;
}

.nav-item a {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}

.nav-item i {
    color: lightgray;
    font-size: 10px;
}

.nav-item img {
    height: 20px;
}

/***************** 
MAIN 
******************/
/* hero image */
.hero_image {
    background-image: url(./img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero_text {
    color: white;
}

.hero_text h1 {
    margin: 20px 0;
}

.hero_text img {
    width: 300px;
}

.hero_text a {
    margin: 20px 0 50px;
    color: white;
    background-color: var(--bg_btn_orange);
}

.hero_text p {
    width: 88%;
}

/* row hero image */
.g_0 {
    --bs-gutter-x: 0;
}

.row_hero_image img {
    width: 100%;
    border-radius: 20px;
    padding: 2px;
}

.p_col {
    padding: 30px 20px 0;
}

.border_img {
    border: 2px solid #0070D1;
}

/* playstation five */
.play_text h4 {
    text-transform: uppercase;
    color: #0070D1;
    font-size: 14px;
    font-weight: 600;
}

.playstation_five p,
.explore_ps_four p {
    color: gray;
}

.console_playstation {
    padding: 0 15px;
}

.console_playstation a,
.card a {
    background-color: var(--bg_btn_blue);
    color: white;
}

.console_playstation img {
    width: 100%;
}

.bor_b {
    border-bottom: 2px solid #0070D1;
}

.opacity {
    filter: opacity(0.7);
}

/* it takes two */
.it_takes_two {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

/* new releases */
.new_releases {
    background-color: var(--bg_new_releases);
    color: white;
    padding: 25px 10px 50px;
}

.new_releases > p {
    font-size: 24px;
}

.new_releases img {
    width: 100%;
    border-radius: 20px;
}

.p_col_release {
    padding: 0 12px 30px;
}

/* explore ps four */
.explore_ps_four {
    padding: 80px 0;
}

.reg {
    font-size: 16px;
    vertical-align: super;
}

.card {
    border: 0;
}

/* playstation plus */
.playstation_plus {
    background-color: var(--bg_playstation_plus);
}

.playstation_plus p {
    color: black;
    margin-top: 25px;
}

.playstation_plus a {
    background-color: var(--bg_btn_plus);
    color: var(--bg_btn_blue);
}

.playstation_plus .img {
    display: none;
}

.img img{
    height: 100%;
    width: 100%;
}

/***************** 
FOOTER 
******************/


@media screen and (min-width: 768px) {
    .console_playstation .row .col-md-6:first-child {
        align-self: center;
    }

    .playstation_plus .img {
        display: block;
    }
}